<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <title>WashYou</title>
    
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/elements.css" rel="stylesheet">
<script src="assets/js/my_js.js"></script>
</head>
<body>
   
    <div class="navbar navbar-inverse set-radius-zero" style="background-color: #3333cc">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">

                    <img src="assets/img/logo.png" />
                </a>


            </div>

            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                            </a>
                            <div class="dropdown-menu dropdown-settings">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="assets/img/64-64.jpg" alt="" class="img-rounded" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Jhon Deo Alex </h4>
                                        <h5>Developer & Designer</h5>

                                    </div>
                                </div>
                                <hr />
                                <h5><strong>Personal Bio : </strong></h5>
                                Anim pariatur cliche reprehen derit.
                                <hr />
                                <a href="#" class="btn btn-info btn-sm">Full Profile</a>&nbsp; <a href="login.html" class="btn btn-danger btn-sm">Logout</a>

                            </div>
                        </li>


                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a  href="index.html">Dashboard</a></li>
                            
                             <li><a href="login.html">Login Page</a></li>
                            <li><a class="menu-top-active" href="blank.html">Blank Page</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
   <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Dashboard</h4>

                </div>

            </div>
            
            
            <div class="row">
                 <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="dashboard-div-wrapper bk-clr-one" >
                        
                        <img src="images/laptop.png" alt="Mountain View" style="width:100px;height:100px;">

                        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
  </div>
                           
</div>
                         <h5 style="font-size:30px">Shedule your pickup </h5>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="dashboard-div-wrapper bk-clr-two">
                       <img src="images/home.png" alt="Mountain View" style="width:100px;height:100px;">
                        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
  </div>
                           
</div>
                         <h5 style="font-size:30px">We pickup your dirty laundry</h5>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="dashboard-div-wrapper bk-clr-three">
                        <img src="images/lorry.png" alt="Mountain View" style="width:100px;height:100px;">
                        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
  </div>
                           
</div>
                         <h5 style="font-size:30px">We deliver your clean clothes</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="dashboard-div-wrapper bk-clr-four">
                        <img src="images/face.png" alt="Mountain View" style="width:100px;height:100px;">
                        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
  </div>
                           
</div>
                         <h5 style="font-size:30px">Enjoy not doing laundry</h5>
                    </div>
                </div>

            </div>


 <div class="row">
    <div class="col-md-3 col-sm-12">
    </div>
    <div class="col-md-3 col-sm-12">
    <button id="popup" type="button" class="btn btn-secondary btn-lg" onclick="div_show()">Sign Up</button>
    </div>
    <div class="col-md-3 col-sm-12">
    <button id="popup"  class="btn btn-secondary btn-lg" onclick="div_show2()">Sign In</button>
    </div>
    <div class="col-md-3 col-sm-12">
    </div>
    </div>
    <br>
    <hr style="height:2px;background-color:#3333cc">

            <div id="abc">
<!-- Popup Div Starts Here -->
<div class="col-md-4 col-sm-12">
</div>
<div class="col-md-4 col-sm-12">
<div id="popupContact" >
<!-- Contact Us Form -->
<form action="#" id="form" method="post" name="form">

<h2>Sign Up</h2>
<hr>

  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
  </div>
   <div class="form-group">
    <textarea type="text" class="form-control" id="formGroupExampleInput" placeholder="Address"></textarea>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="District">
  </div>
   <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Contact Numbr">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
  </div>

<a href="javascript:%20check_empty()" id="submit">Send</a>
</form>
</div>
<!-- Popup Div Ends Here -->
</div>

<div class="col-md-4 col-sm-12">
</div>
</div>
<div id="abc2">
<!-- Popup Div Starts Here -->
<div class="col-md-4 col-sm-12">
</div>
<div class="col-md-4 col-sm-12">
<div id="popupContact" >
<!-- Contact Us Form -->
<form action="#" id="form" method="post" name="form">

<h2>Sign In</h2>
<hr>

  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
  </div>

<a href="javascript:%20check_empty()" id="submit">Send</a>
</form>
</div>
<!-- Popup Div Ends Here -->
</div>

<div class="col-md-4 col-sm-12">
</div>
</div>
            
    <!-- CONTENT-WRAPPER SECTION END-->

    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="assets/js/bootstrap.js"></script>
</body>
</html>
